@model DataLayer.EfClasses.BusinessClasses.PersonalData

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Create", "Create")
    }
    else
    {
        <h4 class="text-warning">You need to be logged in to access personal data</h4>
        return;
    }
    @if (@Model == null)
    {
        <h4>You haven't created any personal data yet.</h4>
    }
    else
    {
        <h4>PersonalData</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PersonalDataId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PersonalDataId)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SecretToYou)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SecretToYou)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.OwnedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.OwnedBy)
            </dd>
        </dl>

        <div>
            @Html.ActionLink("Edit", "Edit") |
            @Html.ActionLink("Delete", "Delete") |
            <a asp-action="Index">Back to Index</a>
        </div>
    }
</div>
