@model IEnumerable<DataLayer.EfClasses.MultiTenantClasses.StockInfo>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Stock level
            </th>
            <th>
                In Shop
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtShop.Name)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id=item.StockInfoId }) |
                @Html.ActionLink("Details", "Details", new { id=item.StockInfoId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.StockInfoId })
            </td>*@
        </tr>
}
    </tbody>
</table>
